extends layout

block content
  .limiter
    .container-login100
      .login100-more(style="background-image: url('/images/logo-cd-si.png');")
      .wrap-login100.p-l-50.p-r-50.p-t-72.p-b-50
          span.login100-form-title.p-b-59
            | Welcome #{user.email}
            br
            a(href="/users/sign_out") Sign out