extends layout

block content
  .limiter
    .container-login100
      .login100-more(style="background-image: url('/images/logo-cd-si.png');")
      .wrap-login100.p-l-50.p-r-50.p-t-72.p-b-50
        form(method='POST' action='/users/login').login100-form.validate-form
          span.login100-form-title.p-b-59
            | Login
          .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
            span.label-input100 Email
            input.input100(type='text', name='email', placeholder='Email addess...', autocomplete='off')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Password is required')
            span.label-input100 Password
            input.input100(type='password', name='password', placeholder='*************', autocomplete='off')
            span.focus-input100
          .container-login100-form-btn
            .wrap-login100-form-btn
              .login100-form-bgbtn
              button.login100-form-btn
                | Login
          .container-login100-form-btn.m-t-35
            span.txt3.p-b-35
              | New User? Please &nbsp;
              a(href='/') Sign up